ion-col {
    ion-img {
        width: 50px;
        position: relative;
        padding: 0;
        margin: auto;
      }
      ion-title {
        padding-inline: unset;
        padding: 0;
      }
      
}
